*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, sans-serif;
  font-size: 2em; }

.container {
  color: #1e1e1e; }

.header {
  position: fixed;
  top: 0px;
  z-index: 20;
  width: 100%;
  background: #1e1e1e;
  color: white;
  border-bottom: groove 2px #1e1e1e;
  font-size: 6vw;
  min-height: 5vh;
  font-variant: small-caps; }

/* These values need to match the header values above */
header_spacer {
  border-bottom: groove 2px #1e1e1e;
  font-size: 6vw;
  min-height: 5vh;
  width: 100%;
  display: block; }

stuff {
  padding: 3vh 5vw 3vh 5vw; }

.container > footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 20;
  background: #1e1e1e;
  color: white;
  border-top: groove 2px #1e1e1e;
  height: 42px;
  font-size: 1.1em;
  text-align: center;
  padding: 3px 10px 3px 10px; }

footer a {
  color: #ff9b00; }

@media screen and (max-width: 1000px) {
  #clickhere {
    display: none; } }
.row_color tr:nth-child(odd) {
  background: gainsboro; }

section {
  padding: 0em 3em 2em 3em;
  font-size: 2.5em;
  font-size: 3vw;
  clear: both; }

section h1 {
  font-size: 1.1em;
  line-height: 1;
  padding: 0px;
  margin: 0 0 0.25em 0;
  color: #1e1e1e;
  font-variant: small-caps; }

section img {
  margin: 0.5em;
  width: 40%;
  resize: auto; }

@media screen and (min-width: 1000px) {
  section {
    font-size: 1.5vw; }

  section h1 {
    font-size: 3vw; }

  section img {
    width: 30%; } }
.material-icons {
  font-size: 1.5em;
  -webkit-box-shadow: 0px 1px 1px #12AECF;
  box-shadow: 0px 1px 1px #12AECF; }

.material-icons:hover {
  animation: move_icons 0.4s ease both; }

@-webkit-keyframes move_icons {
  to {
    color: #12AECF;
    transform: rotate(15deg);
    -webkit-box-shadow: inset 0px 1px 1px #000;
    box-shadow: inset 0px 1px 1px #000; } }
@keyframes move_icons {
  to {
    color: #12AECF;
    transform: rotate(15deg);
    -webkit-box-shadow: inset 0px 1px 1px #000;
    box-shadow: inset 0px 1px 1px #000; } }
.admin_only {
  color: #FFF;
  font-weight: 900;
  background: #F00; }

/* optional inputs */
.optional {
  border-bottom: solid 2px #099;
  border-top: solid 1px #CFF;
  color: #033; }

.optional:hover {
  border: solid 2px #099;
  border-radius: 5px;
  color: #033; }

.optional:focus {
  border: solid 2px #099;
  border-radius: 5px;
  background: #033;
  color: #FEE; }

input, select {
  box-sizing: border-box;
  margin: 5px;
  padding: 0px 3px 1px 5px;
  position: relative;
  background: #F0EDE5;
  border-top: solid 1px #CCF;
  border: none;
  border-bottom: solid 2px #029;
  color: #003; }

input:hover, select:hover {
  border: ridge 2px #029;
  border-radius: 5px;
  color: #009; }

input:focus, select:focus {
  border: ridge 2px #029;
  border-radius: 5px;
  background: #003;
  color: #FFE; }

button {
  background: #FFF;
  color: #006;
  border: outset 2px #006;
  border-radius: 10px;
  width: 150px;
  height: 35px; }

button:hover {
  border: inset 2px #01A;
  background: #12CEFF;
  box-shadow: 0 0 4px #12CEFF; }

/*
@-webkit-keyframes jsBtnPush { border: inset 2px #01A; zoom: 150%; }
@keyframes jsBtnPush		 { border: inset 2px #01A; zoom: 150%; }
*/
/*****************************************************************************
	SLIDING CHECK BOXES
*****************************************************************************/
#pickup_div:after {
  content: 'DELIVER'; }

#pickup_div:before {
  content: 'PICK UP'; }

#recur_div:after {
  content: 'ONE OFF'; }

#recur_div:before {
  content: 'RECURRING'; }

#skip_div:after {
  content: 'READY'; }

#skip_div:before {
  content: 'SKIP'; }

#paid_div:after {
  content: 'PAID'; }

#paid_div:before {
  content: 'UNPAID'; }

.slideThree {
  width: 178px;
  height: 26px;
  background: #333;
  margin: 1px;
  position: relative;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.3); }

.slideThree:after {
  color: #12CEFF;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-family: 12px/26px Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.15); }

.slideThree:before {
  color: #27FF60;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-family: 12px/26px Arial, sans-serif;
  font-weight: bold; }

.slideThree label {
  opacity: 0.9;
  display: block;
  width: 88px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #fcfff4;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3); }

.slideThree input[type=checkbox] {
  visibility: hidden; }

.slideThree input[type=checkbox]:checked + label {
  left: 87px; }

/*****************************************************************************
	SELECT RADIO BUTTONS
*****************************************************************************/
.roundedOne {
  width: 28px;
  height: 28px;
  position: relative;
  margin: 2px auto;
  background: #fcfff4;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfff4), color-stop(40%, #dfe5d7), to(#b3bead));
  background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }

.roundedOne label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#45484d));
  background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white; }

.roundedOne label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 2px;
  left: 2px;
  background: #27ae60;
  background: -webkit-gradient(linear, left top, left bottom, from(#27ae60), to(#12CEFF));
  background: linear-gradient(to bottom, #27ae60 0%, #12CEFF 100%);
  opacity: 0;
  border-radius: 50px;
  -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5); }

.roundedOne label:hover::after {
  opacity: 0.3; }

.roundedOne input[type=radio] {
  visibility: hidden; }

.roundedOne input[type=radio]:checked + label:after {
  opacity: 1; }

/*****************************************************************************
	CALENDAR DATE PICKER
*****************************************************************************/
#ui-datepicker-div {
  background: white;
  border: groove 2px #333; }
